/* * {
    border: 1px solid red !important; This ensures the outlines are retained so you know where to design 
} */

* {
    -webkit-box-sizing: border-box; /* chrome and safari */
    -moz-box-sizing: border-box; /*firefox */
    -ms-box-sizing: border-box; /*internet explorer - border-box - The width and height properties (and min/max properties) includes content, padding and border, but not the margin */
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
}

}

.grid {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
}

.col-1 {
    width: 30%;
    font-size: 18px;
    color: #BCBBBB;
    margin-left: 14px;
    margin-top: 10px;
    display: flex;
}

.col-1-1 {
    width: 33%;
    font-size: 18px;
    color: #BCBBBB;
    margin-right: 216px;
    margin-top: 10px;
    display: flex;
}

.col-1-2 {
    width: 33%;
    font-size: 18px;
    color: #BCBBBB;
    margin-right: 197px;
    margin-top: 10px;
    display: flex;
}

.col-2 {
    width: 28%;
    max-width: 200px;
    display: flex;
    display: -webkit-flex
}

.col-3 {
    width: 33.33%;
    margin-left: 14px;
    max-height: 90px;
    padding-bottom: 198px
}

.col-4 {
    width: 33.33%;
    font-size: 36px;
    color: #BCBBBB;
    margin-left: 14px;
    margin-top: 35px;
}

.col-6 {
    width: 50%;
    padding-bottom: 23px;
}

.col-7 {
    width: 50%;
    font-weight: bolder;
    padding-top: 35px;
    color: grey;
}

.col-7-1 {
font-size: 62px;
padding-left: 177px;
margin-bottom: 15px;
}

.col-7-2 {
font-size: 23px;
padding-left: 305px;
}

.col-8 {
    width: 99%;
    height: 98%;
    display: flex;
    display: -webkit-flex
}

.col-10 {
    width: 100%;
    padding-bottom: 10px;
}

.col-11 {
    width: 100%;
    margin-bottom: 5px;
}

#header_img {
    padding-top: 20px;
}

.entire {
    margin: 230px;
}

.class {
    display: flex;
    flex-wrap: flex;
}

@media only screen and (max-width: 500px) { /* this is adjustments for all screens to specify how they should look if resized */
    p {
        display: none;
    }
}


